
/* ESTILOS GENERALES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #eeeeee;
  margin: 75px;

}


.fuente-clara {
  color: #eeeeee;
}

.fuente-oscura {
  color: #22211f;
}

.fuente-acento {
  color: #b59a61;
}

nav ul li {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

nav ul li a {
  color: #eeeeee;
}
/* ENCABEZADO */

header {
  background-color: rgba(34, 33, 31, 0.85);
  width: 90%;

}

.logo {
  display: inline-block;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
}

header nav {
  height: 80px;
  float: right;
}

nav ul.menu {
  float: right;
}

nav ul.menu li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul.menu li a {
  color: #eee;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 7px;
}

/* MENU */
#check{
  display: none;
  }

.checkbtn {
  font-size: 25px;
  color: rgb(186, 5, 5);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* MEDIA QUERIES */

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
  header {
    background-color: burlywood;
  }

  .checkbtn {
    display: block;
  }

  .navbar {
    height: 0vh;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #2c3e50;
    text-align: center;

    transition: all 0.5s;
    overflow: hidden;
  }

  .navbar ul.menu {
    float: none;
    display: block;
    width: 174px;
    margin: 0 auto;
    opacity: 0;
  }

  .navbar ul.menu li a:hover {
    color: #b59a61;
  }
  /* ACTIVE */
  .navbar.active {
    height: 100vh;
  }

  .navbar.active ul.menu {
    opacity: 1;
  }
}
/* Sección Principal */
main#seccion-principal 
{
  
 
display: flex;
  justify-content: center;
  
align-items: center;
  flex-direction: column;
  
 
text-align: center;
  
 
background-color: #8b6c3d;
  padding: 50px;
  margin: 5px;
}

ul.redes-sociales li {
  margin: 0 10px;
}

/* Contenedor de Redes Sociales */
footer {
  background-color: rgba(155, 109, 40, 0.501);
  font-family: 'Courier New', Courier, monospace;
  
 
  width: 100%;
  padding: 20px;
  background: #000000;
  color: #ffb300;
  height: 20vh; /* Ajusta la altura según tus necesidades */
}
.redes{
  color: #8b6c3d;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  height: 95px; /* para que el footer ocupe toda la altura de la pantalla */
}

footer a {
  
 
color: #f0f0f0;
  text-decoration: none;
}

.contenedor-redes-sociales {
  display: flex;
  
 
justify-content: center;
  align-items: center;
  
 

}

.redes-sociales {
  
 
text-align: center; /* Centra el contenido dentro del contenedor de redes sociales */
}


/* Sección Carrusel */
section.section-carrusel img {
  width: inherit;
}

/* Clases de Imágenes */
.Imagen1 {
  width: 250px;
  height: 200px;
position: reverse;
}

.trabajo{
  color: #8b6c3d;
  width: 100%;
  padding: 20px;
  background: #f8f6f6;
}

.Imagen2 {
  width: 1400px;
  height: 600px;
  width: 100%;
  padding: 20px;
  background: #000000;
  
}

.imagen4, .imagen5, .imagen6 {
  width: 250px;
  height: auto;
  width: 100%;
  padding: 20px;
  background: #000000;
  
}

/* Contenedor de Texto e Imágenes */
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: Arial;
  flex-wrap: nowrap;
}

.texto {
  display: flex;
}

.container img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

/* Clases de Posicionamiento */
.item-relative {
 
  top: 30px;
  left: 30px;
}


.item-absolute {
  position: absolute;
  top: 10px;
  left: 10px;
}


.item-fixed {
  
 
position: fixed;
  bottom: 0;
  right: 0;
}

/* Clases de Sección Principal */
.section-principal {
  background-color: #3e7597;
}

.contenedor {
  display: flex;
  flex-direction: row-reverse;
}

.imagen1 {
  flex: 0;
 float: left;
}

.acerca-de-mi {
  flex:1;
  padding: 20px;
}

.parrafo1, .parrafo2 {
  float: left;
}




.form-header {
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid  #eeeeee;
  border-radius: 3px;

  width: 70%;
  margin: 325px auto;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 30px 0 40px 0;
}
/* ------------- Campos del Formulario ------------- */

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  color: #000000;
  
flex-wrap: nowrap
}.consulta{
  color: #000000;
}


.form-row input[type="text"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}

/* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
}
  
.form-row input[type="text"],
.form-row input[type="email"]
{
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;


  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;


  min-height: 234px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;


  width: 100%;
}
/* ------------- Para Pantallas de más de 700px ------------- */


.form-row textarea {
    width: 534px;
  }
  .form-row button {
      font-size: 16px;
      font-weight: bold;
    
    
      color: #ffffff;
      background-color: #5995da;
    
    
      border: none;
      border-radius: 3px;
    
    
      padding: 10px 40px;
      cursor: pointer;
    }
    
    
    .form-row button:hover {
      background-color: #76aeed;
    }
    
    
    .form-row button:active {
      background-color: #407fc7;
    }
    
    
    /* ------------- Para Pantallas de más de 700px ------------- */
    
    
    .form-row button {
        margin-left: 120px;}

   .greeting{
    color: #8b6c3d;
    width: 100%;
    padding: 20px;
    background: #f8f6f6;
  }
   